<?php
$this->headLink()
    ->appendStylesheet($this->basePath() . '/js/jquery.imgareaselect/css/imgareaselect-animated.css')
    ->appendStylesheet($this->basePath() . '/js/jquery.imgareaselect/css/imgareaselect-default.css')
    ->appendStylesheet($this->basePath() . '/js/jquery.imgareaselect/css/imgareaselect-deprecated.css');
$this->headScript()
    ->appendFile($this->basePath() . '/js/jquery.imgareaselect/scripts/jquery.imgareaselect.pack.js')
    ->appendFile($this->basePath() . '/js/module/admin/goods-admin/edit-image.js');

?>
<h1>Edit Photo</h1>
<p>
    <img id="originImage" src=" <?= $this->pathPhoto ?>" alt="No Photo" >
</p>
<?php
$form->setAttribute('action', $this->url(
    'admin-goods', ['action' => 'edit-image', 'id' => $idProduct]
));
$form->prepare();


echo $this->form()->openTag($form);
echo $this->formElement($form->get('x1'));
echo $this->formElement($form->get('y1'));
echo $this->formElement($form->get('h'));
echo $this->formElement($form->get('w'));
echo $this->formElement($form->get('submitImage'));
echo $this->form()->closeTag();
?>